<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.A0547990ICAApplication"
        android:largeHeap="true"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity android:name=".WelcomeActivit"

            android:exported="true"
            tools:ignore="DuplicateActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity
        android:name=".MainActivity"/>

        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Register"/>
        <activity android:name=".Coffee.Espresso"/>
        <activity android:name=".Coffee.Americano"/>
        <activity android:name=".Coffee.Espressocp"/>
        <activity android:name=".Coffee.Coldbrew"/>
        <activity android:name=".Coffee.Latte"/>
        <activity android:name=".Coffee.Mocha"/>
        <activity android:name=".Coffee.Cap"/>
        <activity android:name=".Coffee.Caramel"/>
        <activity android:name=".Coffee.Flat"/>
        <activity android:name=".comment.Commentmain"/>
        <activity android:name=".comment.Comment"/>

    </application>

</manifest>